
#main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 52px;
}

#type_select {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: olive;
    padding: 30px;
    width: 20%;
}

#type_title {
    font-weight: bold;
    text-align: left;
    margin: 10px;
}

#content {
    width: 80%;
    margin: 15px;
}

#device_table {
    width: 100%;
    table-layout: fixed;
    border-width: 1px;
    border-style: solid;
    border-color: olive;
    border-radius: 3px;
}

#device_table > tr {
    cursor: pointer;
    transition: 400ms;
}

#device_table > tr:hover {
    background: rgba(0, 0, 0, 0.1);
}

#device_table > tr > td {
    border-width: 1px;
    border-style: solid;
    border-color: olive;
}

#table_id {
    width: 10%;
}

#table_desc {
    width: 30%;
}

#table_local {
    width: 30%;
}

#table_state {
    width: 20%;
}