
#main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 52px;
}

#type_select {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: olive;
    padding: 30px;
    width: 20%;
}

#type_title {
    font-weight: bold;
    text-align: left;
    margin: 10px;
}

#content {
    width: 80%;
    margin: 10px;
}
