
.header {
    font-size: 40px;
    color: peru;
    padding: 50px;
}

.login {
    border-radius: 6px;
    border-color: olive;
    display: inline-block;
    text-align: center;
    width: max-content;
    margin: 0 auto;
}

.login > div {
    display: inline-block;
    text-align: center;
    width: max-content;
    margin: 20px 50px;
    padding: 0;
}

.login > div > label {
    line-height: 40px;
    color: darksalmon;
    transition: 400ms;
    font-size: 20px;
}

.login > div > input {
    font-size: 20px;
    width: 300px;
}

.login > div > button {
    font-size: 18px;
}

.login > div:hover > label {
    color: chocolate;
}
