
.header {
    font-size: 40px;
    color: peru;
    padding: 50px;
}

.login {
    border-radius: 6px;
    border-color: olive;
    display: block;
    text-align: center;
    width: max-content;
    margin: 0 auto;
}

.login > div {
    display: block;
    text-align: center;
    width: max-content;
    padding: 20px 50px;
    margin-left: auto;
    margin-right: auto;
}

.login > div > label {
    line-height: 40px;
    color: darksalmon;
    transition: 400ms;
    font-size: 20px;
}

.login > div > input {
    font-size: 20px;
    width: 300px;
}

.login > div > button {
    font-size: 18px;
}

.login > div:hover > label {
    color: chocolate;
}

#failHit {
    margin: 0;
    padding: 0 40px;
    color: red;
}

#loginHit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

#loginHit > .loginHitBlock {
    border-radius: 3px;
    border-width: 0;
    border-style: solid;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    padding: 8px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: beige;
    display: block;
}