
.header {
    font-size: 30px;
    color: peru;
}

.login {
    border-radius: 6px;
    border-color: olive;
    display: inline-block;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.login > div {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

.login > div > label {
    line-height: 40px;
    color: darksalmon;
    transition: 400ms;
}

.login > div:hover > label {
    color: chocolate;
}
